<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - By Nardeep</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Less/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="wrapper" class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">

                <img src="~/Content/Images/logo.png" class="pull-left" />
                <a>@Html.ActionLink("Music Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Current == "Home" ? "active" : "")">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                    </li>
                    <li class="dropdown @(ViewBag.Current == "Store" ? "active" : "")">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#genreDropDown" href="#">
                            Store
                            <b class="caret"></b>
                        </a>
                        @{ Html.RenderAction("GenreList", "Store", new { area = "" }); }
                    </li>
                    <li class="@(ViewBag.Current == "ShoppingCart" ? "active" : "")">
                        @{ Html.RenderAction("CartSummary", "ShoppingCart", new { area = "" }); }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        <div class="body-content row">
            <div class="col-md-12">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p class="pull-right">&copy; @DateTime.Now.Year - Nardeep Singh</p>
                <p class="h5">@Html.ActionLink("Admin", "Index", "StoreManager", new { area = "Admin" }, null)</button>
            </footer>
        </div>
    </div>
</body>
</html>