@model MusicStore.Models.Genre

@{
    ViewBag.Title = "Genres";
}
<h2>Genre :  @Model.Name</h2>
<div class="container">
    @foreach (var album in Model.Albums)
    {
        <div class="col-md-3">
            @Html.ActionLink(album.Title, "Details", new { albumID = album.AlbumId })
            <img src="@album.AlbumArtUrl" />
            <h2>Album :   @album.Title</h2>
             <h2> By :   @album.Artist.Name</h2>
        </div>
    }
</div>